body {
  background-color: #FF9800;
  color: black;
}

.unselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.vertical-container {
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

h1.vertical-container {
  font-size: 275%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 20vh;
}

.google-login, .facebook-login {
  background-color: white;
  box-shadow: black;
  height: 8vh;
  width: 50vw; 
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.google-login {
  background-image: url('./google.png');
}

.hidden {
  display: none;
}


/* Screen base layout */
.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.loader {
  position: absolute;
  top: 10vh;
  left: 45vw;
  width: 10vw;
}

